<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J31RL02PGQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  </script>
</head>
<app-header (toggleMenuFromNavBar)="toggleMenu()"></app-header>
<mat-drawer-container class="main">
  <mat-drawer mode="side" [opened]="menu_open">
    <app-sidenav (toggleMenuFromSideNav)="toggleMenu()"></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
