werner.fyi
root * /web/dist/web
encode gzip zstd
try_files {path} {path}/ /index.html
reverse_proxy /api/* api:8000
file_server

covid-politics.werner.fyi {
    redir https://werner.fyi/apps/covid
}

covid.werner.fyi {
    redir https://werner.fyi/apps/covid
}
