@media {
  .container {
    max-width: 2000px;
    padding: 25px 50px 0 50px;
  }
}

.title {
  padding: 0 0 5px 0;
}

.data-card {
  padding: 20px 20px 0 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-card-image {
  object-fit: cover;
  height: 20%;
}

.covid-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/SARS-CoV-2_without_background.png/1200px-SARS-CoV-2_without_background.png');
  background-size: cover;
}

.systemic-racism-image {
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/211/476/non_2x/stop-racism-hands-vector.jpg');
  background-size: cover;
}

.pretzels-image {
  background-image: url('https://st2.depositphotos.com/1903923/5282/v/450/depositphotos_52828183-stock-illustration-pretzel.jpg');
  background-size: cover;
}

.tacos-image {
  background-image: url('https://www.pinclipart.com/picdir/middle/402-4028562_taco-clipart-mexican-beer-png-download.png');
  background-size: cover;
}

.election-image {
  background-image: url('https://www.freepngimg.com/thumb/vote/25046-5-vote.png');
  background-size: cover;
}

.row-container {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  padding: 0 1rem 0 0;
}

.button-container {
  display: flex;
  justify-content: left;
}

.mat-raised-button {
  height: 50px;
}
