<mat-toolbar class="header-toolbar">
  <mat-toolbar-row>
    <button mat-button [routerLink]="'/home'">
      <img src="https://raw.githubusercontent.com/htwerner/werner-fyi/master/web/web/src/assets/logo.png"
           alt=""
           style="width:40px;">
      <a style="font-size: 20px">erner.fyi</a>
    </button>

    <span class="toolbar-spacer"></span>

    <div></div>

    <span class="toolbar-spacer"></span>

    <h1>{{page_title}}</h1>

    <span class="toolbar-spacer"></span>

    <div class="row-container">
      <div class="button-container">
        <a mat-mini-fab color="black" href="https://github.com/htwerner" aria-label="View GitHub">
          <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div class="button-container">
        <a mat-mini-fab color="black" href="https://www.linkedin.com/in/hunterwerner/" aria-label="Follow on LinkedIn">
          <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div class="button-container">
        <a mat-mini-fab color="black" href="https://www.facebook.com/hunter.werner" aria-label="Follow on Facebook">
          <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div class="button-container">
        <a mat-mini-fab color="black" href="https://www.instagram.com/hunt_wern/" aria-label="Follow on Instagram">
          <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div class="button-container">
        <a mat-mini-fab color="black" href="https://twitter.com/hunt_wern" aria-label="Follow on Twitter">
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
