<div class="container">
  <div class="row-container">
    <div class="button-container">
      <a mat-mini-fab color="black" href="https://github.com/htwerner" aria-label="View GitHub">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab color="black" href="https://www.linkedin.com/in/hunterwerner/" aria-label="Follow on LinkedIn">
        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab color="black" href="https://www.facebook.com/hunter.werner" aria-label="Follow on Facebook">
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab color="black" href="https://www.instagram.com/hunt_wern/" aria-label="Follow on Instagram">
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div class="button-container">
      <a mat-mini-fab color="black" href="https://twitter.com/hunt_wern" aria-label="Follow on Twitter">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<p align="center" class="text-muted">
  Website and applications designed by
  <a href="https://www.linkedin.com/in/hunterwerner/">Hunter Werner</a>.
</p>
<h6 style="text-align: center">
  #BlackLivesMatter
</h6>
<br><br>
