<div class="container">
  <br><br>

  <mat-card class="main-card">

    <p style="text-align: center">
      Thank you for your interest in learning more about systemic racism and
      mass incarceration in the United States. These are pressing and horrific problems that deserve
      education, thought, and empathy. As such, this dashboard remains under development as I explore
      ways in which I can properly and accurately visualize this data to both reflect the problems and
      respect those they hurt most.
    </p>
    <p style="text-align: center">
      Thank you for your understanding and please check back soon.
    </p>
    <p style="text-align: center">
      #BlackLivesMatter
    </p>
  </mat-card>
</div>
