<mat-toolbar class="dashboard-selection-card">
  <div style="padding: 0 0 0 25px"></div>
  <mat-tab-group headerPosition="above" (selectedTabChange)="dashboardChange($event.index)">
    <mat-tab *ngFor="let dashboard of dashboardOptions" [label]="dashboard"></mat-tab>
  </mat-tab-group>
</mat-toolbar>

<div class="container">
  <mat-card class="inputs-selection-card">
    <mat-form-field
      class="selection-field"
      appearance="fill"
      *ngIf="selectedDashboard == dashboardOptions[1]">
      <mat-label>Data</mat-label>
      <mat-select [(value)]="selectedDataType" (selectionChange)="this.selectedDataTypeChange($event.value)">
        <mat-option *ngFor="let datatype of datatypeOptions" [value]="datatype">
          {{datatype}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="selection-field" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategory" (selectionChange)="this.selectedCategoryChange($event.value)">
        <mat-option *ngFor="let category of categoryOptions" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h6 *ngIf="selectedDashboard == dashboardOptions[1]" style="padding: 20px 20px 0 0;">by</h6>

    <mat-form-field
      class="selection-field"
      appearance="fill"
      *ngIf="selectedDashboard == dashboardOptions[1]">
      <mat-label>Timeline</mat-label>
      <mat-select [(value)]="selectedTimeline" (selectionChange)="this.selectedTimelineChange($event.value)">
        <mat-option *ngFor="let timeline of timelineOptions" [value]="timeline">
          {{timeline}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h6 *ngIf="selectedDashboard == dashboardOptions[1]" style="padding: 20px 20px 0 0;">in the</h6>

    <mat-form-field class="selection-field" appearance="fill">
      <mat-label>Region</mat-label>
      <mat-select [(value)]="selectedRegion" (selectionChange)="selectedRegionChange($event.value)" >
        <mat-option *ngFor="let region of regionOptions" [value]="region">
          {{region}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="selection-field"
      appearance="fill"
      *ngIf="selectedDashboard == dashboardOptions[0]">
      <mat-label>State</mat-label>
      <mat-select [(value)]="selectedState"(selectionChange)="selectedStateChange($event.value)">
        <mat-option *ngFor="let state of stateOptions" [value]="state">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="selection-field"
      appearance="fill"
      *ngIf="selectedDashboard == dashboardOptions[0]">
      <mat-label>County</mat-label>
      <mat-select [(value)]="selectedCounty" (selectionChange)="this.selectedCounty = $event.value">
        <mat-option *ngFor="let county of countyOptions" [value]="county">
          {{county}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div style="padding: 10px 0 0 0">
      <button mat-raised-button color="primary" (click)="getData()">Update Graph</button>
    </div>

    <div style="padding: 10px 0 0 10px">
      <button mat-raised-button color="primary" (click)="resetOptions()">Reset Fields</button>
    </div>
  </mat-card>
</div>


<div class="container"
     *ngIf="selectedDashboard == dashboardOptions[0]"
     style="display: flex; justify-content: space-between">
  <mat-card class="summary-card">
    <h5 style="text-align: center">{{newLabel}}</h5>
    <h3 *ngIf="dataSuccess" style="text-align: center; color: rgba(255, 102, 102, 1)">
      {{newInCategory | number: "1.0-0"}}
    </h3>
    <div *ngIf="loading" style="display: flex; justify-content: center">
      <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </mat-card>
  <mat-card class="summary-card">
    <h5 style="text-align: center">{{averageLabel}}</h5>
    <h3 *ngIf="dataSuccess" style="text-align: center; color: rgba(102, 102, 255, 1)">
      {{averageInCategory | number:"1.0-0"}}
    </h3>
    <div *ngIf="loading" style="display: flex; justify-content: center">
      <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </mat-card>
  <mat-card class="summary-card">
    <h5 style="text-align: center">{{totalLabel}}</h5>
    <h3 *ngIf="dataSuccess" style="text-align: center; color: rgba(50, 255, 50, 1)">
      {{totalInCategory | number:"1.0-0"}}
    </h3>
    <div *ngIf="loading" style="display: flex; justify-content: center">
      <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </mat-card>
</div>


<div class="container">

  <mat-card class="main-card">
    <div *ngIf="loading" style="display: flex; justify-content: center">
      <i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
    </div>
    <div *ngIf="dataSuccess">
      <mat-card>
        <h5 style="text-align: center">{{chartTitle}}</h5>
        <div style="display: block">
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [legend]="true"
            [options]="chartOptions">
          </canvas>
        </div>
      </mat-card>
    </div>
    <div *ngIf="dataError == true">
      {{errorMessage}}
    </div>
  </mat-card>
</div>
