@media {
  .container {
    max-width: 2000px;
    padding: 25px 50px 0 50px;
  }
}

.dashboard-selection-card {
  display: flex;
  justify-content: flex-start;
  padding: 20px 25px 25px 25px;
}

.inputs-selection-card {
  display: flex;
  justify-content: flex-start;
  padding: 20px 25px 0 25px;
}

.main-card {
  padding: 20px 25px 20px 25px;
}

.summary-card {
  min-width: 425px;
}

.selection-field {
  padding: 0 20px 0 0;
}

.chip-select {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 5px 0;
}

.chip-label {
  padding: 3px 15px 0 0;
}
