<div class="container">
  <mat-card class="main-card">
    <mat-tab-group (selectedTabChange)="categoryTabChange($event.index)">
      <mat-tab>
        <ng-template mat-tab-label>
          Cases
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Deaths
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <br>
    <div class="chip-select">
      <p class="chip-label">Region:</p>
      <mat-chip-list [multiple]="false" [selectable]="true">
        <mat-chip
          *ngFor="let regionChip of regionChips"
          [selected]="selectedRegionChip == regionChip.name"
          (click)="regionChipChange(regionChip)">
          {{regionChip.name}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="chip-select">
      <p class="chip-label">Timeline:</p>
      <mat-chip-list [multiple]="false" [selectable]="true">
        <mat-chip
          *ngFor="let xAxisChip of xAxisChips"
          [selected]="selectedxAxisChip == xAxisChip.name"
          (click)="xAxisChipChange(xAxisChip)">
          {{xAxisChip.name}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="chip-select">
      <p class="chip-label">Data:</p>
      <mat-chip-list [multiple]="false" [selectable]="true">
        <mat-chip
          *ngFor="let yAxisChip of yAxisChips"
          [selected]="selectedyAxisChip == yAxisChip.name"
          (click)="yAxisChipChange(yAxisChip)">
          {{yAxisChip.name}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <br>
    <div *ngIf="loading == true" style="margin: auto; width: 50px;">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dataSuccess == true">
      <mat-card>
        <h5 style="text-align: center">{{selectedyAxisChip}}</h5>
        <div style="display: block">
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [legend]="true"
            [options]="chartOptions">
          </canvas>
        </div>
      </mat-card>
    </div>
    <div *ngIf="dataError == false">
      {{errorMessage}}
    </div>
  </mat-card>
</div>
